<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
  </head>
  <body>
    <div id="container">
      <section>
        <div id="site-header">
          <h1><a href="/index.html">Thought Pointers</a></h1>
          <br>
          <h4>So things aren't lost in memory.</h4>
          <hr>
        </div>
      </section>
      <section>
        <%= yield %> 
      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>

